:root {
    --text-align-left: 3%;
}

.raleway-font-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
}
.raleway-font-less-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
}
.mukta-font-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
.resume-page {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.profile {
    border: none;
    position: relative;
    width: 35%;
    gap: 0;
    background-color: rgb(245, 238, 238);
    border-radius: clamp(1rem, 1vw, 2rem);
    overflow-y: visible;
    min-height: 50vh;
}
.main-resume {
    border: none;
    position: relative;
    width: 50%;
    background-color: rgb(245, 238, 238);
    border-radius: clamp(1rem, 1vw, 2rem);
    overflow-y: visible;
    min-height: 90vh;
}
.photo-container {
    width: fit-content;
    position: relative;
    border: 10px;
    left: 25%;
    top: 20%;
    border-radius: 50%;
    gap: 10px;
    padding: 10px;
}
.photo {
    width: 300px;
    height: 300px;
    border: 5px solid #ffa07a;
    border-radius: 50%;
    object-fit: cover;
}
.general-heading {
    width: 85%;
    min-height: 3vh;
    left: var(--text-align-left);
    position: relative;
    color: #c0392b;
    border: none;
    margin: 0;
    margin-top: 10px;
}
.profile p {
    position: relative;
    left: var(--text-align-left);
    width: 85%;
    margin: 0;
}
h1,
h2,
h3,
h4 {
    font-size: 1.1rem;
}
ul {
    position: relative;
    left: var(--text-align-left);
    width: 85%;
    margin: 0;
    padding: 0;
}
.name {
    width: fit-content;
    position: relative;
    font-size: 2.5rem;
    left: var(--text-align-left);
    color: #c0392b;
    margin-bottom: 10px;
}
.skills-list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}
.white-text {
    color: rgb(205, 198, 198);
    user-select: none;
}
.job-title {
    color: black;
    font-size: 1.1rem;
}
.education {
    color: black;
    font-size: 1.7rem;
    border-bottom: 3px solid #ffa07a;
}
.school-heading {
    font-size: 1.3rem;
    text-align: left;
}
.project-heading {
    font-size: 1.5rem;
    text-align: left;
    color: black;
    border-bottom: 3px solid #ffa07a;
}
.work-experience-heading {
    font-size: 1.5rem;
    text-align: left;
    color: black;
    border-bottom: 3px solid #ffa07a;
}
.education-list,
.project-features-list,
.work-experience-list {
    list-style: disc;
    padding-left: 10px;
}
.contact-list,
.hobbies-list,
.project-list {
    list-style: none;
}
.skill-bar {
    position: absolute;
    left: 3%;
    width: 80%;
    height: 20px;
    background-color: rgb(205, 198, 198);
    border-radius: 10px;
}
.skill-percentage {
    position: relative;
    left: 86%;
}
.skill-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.skill-text {
    position: relative;
    left: 3%;
    width: fit-content;
    margin-bottom: 0;
}
.skill-rating {
    height: 20px;
    background: linear-gradient(90deg, #ff6b6b, #ffa07a);
    border-radius: 10px;
}

#html-skill-bar .skill-rating {
    width: 80%;
}
#css-skill-bar .skill-rating {
    width: 80%;
}
#js-skill-bar .skill-rating {
    width: 70%;
}
#python-skill-bar .skill-rating {
    width: 80%;
}
#cpp-skill-bar .skill-rating {
    width: 60%;
}
#react-skill-bar .skill-rating {
    width: 70%;
}
.white-text {
    color: rgb(245, 238, 238);
}
.double-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media print {
    body {
        background: linear-gradient(135deg, #ff6b6b, #ffa07a) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .photo-container {
        left: 10%;
    }
    .profile {
        top: 2%;
    }
    .main-resume {
        top: 2%;
    }
    .profile p {
        width: 95%;
    }
    .photo {
        width: 200px;
        height: 200px;
        border: 5px solid #ffa07a;
        border-radius: 50%;
        object-fit: cover;
    }
    .education {
        color: black;
        font-size: 1.3rem;
        border-bottom: 3px solid #ffa07a;
        padding-top: 10px;
    }
    .project-heading {
        font-size: 1.3rem;
        text-align: left;
        color: black;
        border-bottom: 3px solid #ffa07a;
    }
    .work-experience-heading {
        font-size: 1.3rem;
        text-align: left;
        color: black;
        border-bottom: 3px solid #ffa07a;
    }
}
